<h5><span class="badge bg-dark">{{hotel.nom |uppercase}}</span></h5>
{{hotel.region}}   <img [src]="hotel.nbEtoiles">
<div class="d-flex justify-content-between">
    <div *ngFor="let p of hotel.image">
        <app-picture [pic]="p"></app-picture>
    </div>  
    <div>
    Prix: {{hotel.prix | number:'2.3'}} DT<br/>
    <span *ngIf="hotel.promotion"><button class="btn btn-success">En Promotion</button></span>
    <br/>
    <button (click)="onAfficher()" class="btn btn-link">Détails</button>
    <div *ngIf="display">
    <li *ngFor="let i of hotel.image">
          <app-image [im]="i"></app-image>
    </li>
  </div>
  
  </div>
  </div>
