<div class="container">
  <form [formGroup]="f" class="c"><br>
      <div class="picture-container">
          <div class="picture">
              <img src="assets/default-avatar.png" />
          </div><br>
      </div>
      <div class="form-group row">
          <div class="col-xs-2">
              <label>Name</label>
              <input  type="text"  class="form-control" formControlName="nom" >
              <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
                  Le nom est obligatoire
              </div>

          </div>
          <div class="col-xs-2" >
              <label>Password</label>
              <input  type="password" class="form-control" formControlName="mdp" >
              <div *ngIf="password?.invalid && password?.touched " class="alert alert-danger">
                  Le mot de passe est obligatoire
              </div>
          </div>
      </div><br>
          <div class="col-xs-2" >
              <button type="button" class="btn btn-secondary" [disabled]="!connecter()" (click)="onAfficher0()">Connecter</button> &nbsp; 
              <button type="button" class="btn btn-secondary" (click)="Reset()">Effacer</button><br><br>
          </div><br><br>
  </form>
        <div class="form-group row">
        <div class="col-xs-2">
        
        <div *ngIf="display0" class="c"> 
          <h3>Veuillez choisir une opération :</h3>
          <a class="btn btn-danger" routerLink="/ajouter" routerLinkActive="actif">Ajouter Hotel</a>&nbsp;
          <a class="btn btn-danger" routerLink="/supprimer" routerLinkActive="actif">Supprimer Hotel</a>&nbsp;
          <a class="btn btn-danger" routerLink="/modifier" routerLinkActive="actif">Modifier Hotel</a>&nbsp;
          <a class="btn btn-danger" routerLink="/consulter" routerLinkActive="actif">Consulter Les Hotels</a>
        </div>
</div>
