<div class="container">
  <form [formGroup]="f"><br>
      <div class="picture-container">
          <div class="picture">
              <img src="assets/default-avatar.png" />
          </div><br>
      </div>
      <div class="form-group row">
          <div class="col-xs-2">
              <label>Name</label>
              <input  type="text"  class="form-control" formControlName="nom" >
              <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
                  Le nom est obligatoire
              </div>

          </div>
          <div class="col-xs-2" >
              <label>Password</label>
              <input  type="password" class="form-control" formControlName="mdp" >
              <div *ngIf="password?.invalid && password?.touched " class="alert alert-danger">
                  Le mot de passe est obligatoire
              </div>

          </div></div><br>
          <div class="col-xs-2" >
              <button type="button" class="btn btn-secondary" [disabled]="!connecter()">Connecter</button> &nbsp; 
              <button type="button" class="btn btn-secondary" (click)="reset()">Effacer</button><br><br>
          </div>
        </form>

          <div *ngIf="connecter()"> 
            <p>Veuillez choisir l'opération :</p>
            <ul>
              <li (click)="ajouter()">Ajouter</li>
              <li><a>Modifier</a></li>
              <li><a>Supprimer</a></li>
            </ul>
          </div>
          <div *ngIf="op=='1'"> 
            <form>
              <p>fghjklmm</p>
            </form>
          </div>

</div>