<form  [formGroup]="f">
    <br>
    <img src="/assets/contact.png"><br>
    <textarea rows="5" cols="50" placeholder="Merci de nous laisser votre avis : ........................" formControlName="c"></textarea><br>
    <button type="button" class="btn btn-secondary">Commenter</button>&nbsp;<button type="button" class="btn btn-secondary" (click)="reset()">Effacer</button><br><br>
</form>
<br><br><br><br><br><br><br><br>


<div>
    <img src="/assets/local.png"  class="c1"> Tunisie, Sokra, Rue3200
    <img src="/assets/mail.png" class="c2"> BestTunisiaTravel@yahoo.fr     
    <img src="assets/tel.png" class="c1"> 70111222
</div> 