<div><table>
<tr>
    <td><img src="/assets/logo2.png"></td>
    <td><a class="nav-link" routerLink="/accueil"><h4>Accueil</h4></a></td>
    <td><a class="nav-link" routerLink="/hotel"><h4>Hotel</h4></a></td>
    <td><a class="nav-link" routerLink="/contact"><h4>Contact</h4></a></td>
    <td><a class="nav-link" routerLink="/BTT"><h4>BTT</h4></a></td>
    <td><a class="nav-link" routerLink="/login"><h4><span  style="margin-left:750px"><div class="fa fa-user-circle"></div>  Login</span></h4></a></td>
</tr>
</table>
</div>
