<div class="container">
    <form [formGroup]="f">
    <input class="r" type="text" formControlName="recherche" value="" size="80" placeholder="Rechercher" ><div class="fa fa-search" ></div>
    </form>
    <h1>HOTELS</h1>
    <!-- <div *ngFor="let l of lesHotels">
        <h5><span class="badge bg-dark">{{l.nom |uppercase}}</span></h5>
        {{l.region}}    <img [src]="l.nbEtoiles">
        <div class="d-flex justify-content-between">
            <div *ngFor="let p of l.image">
                <img [src]="p.image1">
                <!-- <app-picture [pic]="p"></app-picture> -->
            <!-- </div>  
            <div>
            Prix: {{l.prix | number:'2.3'}} DT<br/>
            <span *ngIf="l.promotion"><img class="c" src="/assets/promo.jpg"></span>
            <br/>
            <button (click)="onAfficher()" class="btn btn-link">Détails</button></div></div>
            <div *ngIf="display">
            <div *ngFor="let i of l.image">
                <div class="container mt-3">
                    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel"> -->
                      <!-- Slide Indicators -->
                      <!-- <ul class="carousel-indicators">
                        <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
                        <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
                        <li data-target="#bootstrapCarousel" data-slide-to="3"></li>
                      </ul>
                   -->
                      <!-- The slides to show -->
                      <!-- <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img
                          [src]="i.image2"
                            width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                          <img
                          [src]="i.image3"
                            width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                          <img
                          [src]="i.image4"
                            width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                          <img
                          [src]="i.image5"
                            width="1100" height="500">
                        </div>
                      </div>
                   -->
                      <!--  Controls (Left and right) -->
                      <!-- <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                  </div> -->
                <!-- <br/><app-image [im]="i"></app-image> -->
            <!-- </div>
            <br/>
            <h5>Services & équipements</h5>
            
            <table>
                <tr>
                <td>Climatisation</td> <td><div class="fa fa-cutlery"></div>Restaurant</td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td><div class="fa fa-television"></div> Télévision</td></tr>
                <tr>
                <td>Club de remise en forme  </td> <td> Massage</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <td>Piscine</td></tr>
                <tr>
                <td>Téléphone avec ligne directe &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>Plage</td></tr>
                
            </table>
            <br/>
        
            <h5>Dates & Tarifs</h5>
            <table>
            <tr>
            <td>Date d'arrivée&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td><input type="date"></td></tr>
            <tr>
            <td>Date de départ </td> <td><input type="date"></td></tr>
            <tr>
            <td>Adulte(s)</td> <td><input type="number"></td></tr>
            <tr>
            <td>Enfant(s)</td> <td><input type="number"></td></tr>
            <tr>
            <td></td><td><button class="btn btn-primary">Vérifier la disponibilité</button></td></tr>
            </table>
            <br/>
        
            <h5>Chambres</h5>
            <ul>
               <li>Chambre Double-Standard</li>
               <li>Chambre Single- Standard</li>
               <li>Chambre Double- Supérieure</li>
               <li>Chambre Triple- Supérieure</li>
               <li> Suite Sénior Double.</li>
               <li> Suite Junior 2 Pax</li>
            </ul>
            <h5>Pensions</h5>
            <ul>
                <li>Logement Petit Déjeuner</li>
                <li>Demi Pension</li>
                <li>Pension Complète</li>
            </ul>
          
          
    </div>
</div> --> 
        {{lesHotels | json}}

    