<div class="container">
    <form [formGroup]="f">
      <input class="r" type="text" formControlName="recherche" value="" size="80" placeholder="Rechercher" ><div class="fa fa-search" ></div>
    </form>
    
    <h1>HOTELS</h1>
    <div *ngFor="let l of lesHotels">
      <h5><span class="badge bg-dark"> {{l.nom |uppercase}} </span></h5>
      {{l.region}}    <img [src]="l.nbEtoiles">
      <!-- <div class="d-flex justify-content-between"> 
        <img [src]="l.image">
      </div>  -->
      Prix: {{l.prix | number:'2.3'}} DT<br/>
      <span *ngIf="l.promo"> 
        <img class="c" src="/assets/promo.jpg"/> 
      </span> <br>
      <button (click)="onAfficher()" class="btn btn-link">Détails</button>
      <div *ngIf="display">
      <!-- <div *ngFor="let i of lesHotels.image">
        <div class="d-flex justify-content-between"> 
          <img [src]="i.image1">
          <img [src]="i.image2">
          <img [src]="i.image3">
          <img [src]="i.image4">
        </div>  -->
        <h5>Services & équipements</h5>
        <table>
          <tr>
            <td> Climatisation</td> 
            <td> <div class="fa fa-cutlery"> </div> Restaurant</td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td> <div class="fa fa-television"> </div> Télévision</td>
          </tr>
          <tr>
            <td>Club de remise en forme  </td> 
            <td> Massage</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <td>Piscine</td>
          </tr>
          <tr>
            <td>Téléphone avec ligne directe </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <td>Plage</td>
          </tr>
        </table><br/>

        <h5>Chambres</h5>
        <ul>
          <li>Chambre Double-Standard</li>
          <li>Chambre Single- Standard</li>
          <li>Chambre Double- Supérieure</li>
          <li>Chambre Triple- Supérieure</li>
          <li> Suite Sénior Double.</li>
          <li> Suite Junior 2 Pax</li>
        </ul>

        <h5>Pensions</h5>
        <ul>
          <li>Logement Petit Déjeuner</li>
          <li>Demi Pension</li>
          <li>Pension Complète</li>
        </ul>
    <br><br>
    </div>
</div>
        <!-- {{lesHotels | json}} -->

    