.r{
    margin-left: 22%;
}
img{
    width: 25px;
    height: 25px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 70px;
    height: 20px;
}
.c{
    width: 80px;
    height: 70px;
}