.r{
    margin-left: 22%;
}
img{
    width: 250px;
    height: 200px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.b{
    width: 70px;
    height: 20px;
}
.c{
    width: 70px;
    height: 60px;
}
.a{
    width: 250;
    height: 200;
}