<div class="container">
    <h4>Cette application est développée par :</h4><br>
    <ul>
        <li>
            <h5>Gasmi Houda</h5>
        </li>
        <li>
            <h5>Ben Arbia Oumaima</h5>
        </li>
    </ul>
    <br/>
    <h6>Tunisia Best Travel, votre Agence de voyage en Tunisie en Ligne vous propose des promotions sur vosvoyages en Tunisie avec les meilleurs prix et services.</h6><br>
    <img src="/assets/travel.jpg"><br/><br/>
    <h5>Nos produits :</h5>
    Hôtels Tunisie<br><br>
    <h5>Nos Hôtels :</h5>
    <table>
        <tr>
        <td>Hôtels Tunis</td> <td>Hôtels Tabarka</td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>Hôtels Hammamet</td></tr>
        <tr>
        <td>Hôtels Sousse  </td> <td>Hôtels Monastir</td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <td>Hôtels Mahdia</td></tr>
        <tr>
        <td>Hôtels Djerba &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>Hôtels Tozeur</td></tr>
        
    </table>
    <br><br>
    </div>