
  <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
    <!-- Slide Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
      <li data-target="#bootstrapCarousel" data-slide-to="3"></li>
    </ul>

    <!-- The slides to show -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/accueil.jpg">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/accueil1.jpg">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/accueil2.jpg">
      </div>
      <div class="carousel-item">
        <img
          src="/assets/accueil3.jpg">
      </div>
    </div>

    <!--  Controls (Left and right) -->
    <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <br/>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <h6 style="color: blue;">Je souhaite recevoir des offres par mail</h6>
        <form method="post" name="form" id="form" action="javascript:void(0)">
          <div class="form-group">
            <div class="input-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="Votre adresse mail" required>
              <button class="btn btn-primary btn-news" type="submit">S'INCRIRE</button>
            </div>
          </div>
        </form>
      </div>
    <div><h6 style="color: blue;">Suivez nous </h6>
    <a href="https://www.facebook.com/"><img class="img" src="/assets/facebook.png"></a>&nbsp;
    <a href="https://mobile.twitter.com/home"><img class="img" src="/assets/twitter.png"></a>&nbsp;
    <a href="https://www.instagram.com/"><img class="img" src="/assets/instagram.png"></a>&nbsp;
    <a href="https://www.linkedin.com/feed/"><img class="img" src="/assets/linkedin.png"></a>&nbsp;
    <a href="https://www.youtube.com/"><img class="img" src="/assets/youtube.png"></a>
  </div>
  <div>
    <h6 style="color: blue;">Paiement sécurisé</h6>
    <img class="png" src="/assets/paiement.png">
  </div>
  </div>
  </div>

